<% layout('layouts/boilerplate') %>
<div class="container mt-5 d-flex justify-content-center">
    <h1 class="text-uppercase" id="category-title">
        <%= seccion.replace(/-/g, " " ) %>
    </h1>
</div>
<div class="container">
    <div class="row">
        <% for(let recipe of recipes) { %>
        <div class="col-lg-3 col-md-4 pb-2 ">
            <!-- Use 'col-md-3' for medium-sized screens to create 4 columns per row -->
            <div class="card  m-auto mx-0 p-0 index-style border border-3 border-dark" >
                <div data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip" data-bs-title="Previsualizar">
                <img src="<%=recipe.imagen %>" class="card-img-top index-img" data-bs-toggle="modal"
                    data-bs-target="#exampleModal<%= recipe._id %>">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="height: 50px;">
                        <%= recipe.titulo %>
                    </h5>
                    <div class="d-flex justify-content-between">
                        <pre class="card-text"><i class="fa-solid fa-users fa-lg"></i> 5</pre>
                        <pre class="card-text"><i class="fa-solid fa-clock fa-lg"></i> 30 min</pre>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="/recipes/<%= recipe._id %>" class="view-recipe">Ver Receta</a>
                        <% if(!favorite.some(item=> item.recipe._id.toString() === recipe._id.toString())){ %>
                        <form action="/recipes/favorites" method="post" id="save">
                            <input type="hidden" name="recipeId" value="<%= recipe._id %>">
                            <button class="plain-button"><i class="fa-regular fa-heart fa-2xl py-3"
                                    style="color: #ff5252;"></i></button>
                        </form>
                        <% }else{ %>
                        <form action="/recipes/favorites?_method=DELETE" method="post" id="">
                            <input type="hidden" name="recipeId" value="<%= recipe._id %>">
                            <button class="plain-button"><a href=""><i class="fa-solid fa-heart fa-2xl py-3"
                                        style="color: #ff5252;"></i></a></button>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
<%- include('../partials/preview') %>
