<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/reviewStars.css">
<link rel="stylesheet" href="/styles/show.css">


<div class="row">
    <!-- Card -->
    <div class="col-lg-7 col-md-12 mb-5">
        <div class="card shadow-lg">
            <img src="<%= recipe.imagen %>" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= recipe.titulo %>
                </h5>
                <hr>
                <h6 class="card-title recipe-headers"><b>Ingredientes:</b></h6>
                <pre class="show-recipe"><%= recipe.ingredientes %></pre>
                <hr>
                <h6 class="card-title"><b>Preparación:</b></h6>
                <pre class="show-recipe"><%= recipe.proceso %></pre>
            </div>
        </div>
    </div>
    <!-- Review -->
    <div class="col-lg-5 col-md-12 ps-5 ">
        <% if(currentUser) {%>
        <div class="card shadow-sm mb-3">
            <h5 class="card-header">Nuevo Review</h5>
            <div class="card-body">
                <form action="/recipes/<%= recipe._id %>/reviews" method="POST" class="mb-3 needs-validation"
                    novalidate>
                    <div class="mb-0">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                                aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Texto del review</label>
                        <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control" required></textarea>
                        <input type="text" name="id" value="<%= recipe._id %>" hidden>
                    </div>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
        <% } %>
            <h1>Reviews</h1>
            <% for(let review of recipe.reviews){ %>
                <div class="card shadow mb-2">
                    <div class="d-flex justify-content-between" style="height:20px;">
                        <h6 class="card-title ps-2 mt-2"><i class="fa-regular fa-user"></i> <%= review.author.username %></h6>
                        <p class="starability-result" data-rating="<%= review.rating %>">
                            Rated: <%= review.rating %> stars
                        </p>
                    </div>
                    <hr class="mt-3 mb-0 p-0">
                    <div class="card-body">
                        <p class="card-text"><%= review.body %></p>
                        <% if(currentUser && review.author.equals(currentUser._id)) { %>
                            <form action="/recipes/<%= recipe._id %>/reviews/<%= review._id %>?_method=DELETE"
                                method="post">
                                <input type="text" value="<%= recipe._id %>" name="id" hidden>
                                <input type="text" value="<%= review._id %>" name="reviewId" hidden>
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <% } %>
    </div>
</div>
